page-license-detail {


    ion-card-title {
        padding-left: 18px !important;
        border-bottom: 1px solid black !important;
        #licenseHeading{
            font-weight: bold;
        }
       
    }
}
